

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: Industry;
  text-align: center;
}

.App-header {
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.customCard {
  background-color: #282c34;
  color: white;
  font-family: Industry;
  margin-top: 10%;

}

.customCardBody {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.userToggleBtn {
  padding-right: 20px;
}

